html{
/*	background-color: rgba(48,121,24,0.30);*/
/*	background-image: url("images/space.png");*/
	background-image: url("images/is.png");
	background-attachment: fixed;
	background-size: cover;
	margin:0;
	width: 100%;
/*	height: 1500px;*/
	font-family:Georgia, "Times New Roman", Times, "serif";
}

body{
	margin: 0 auto;
/*
	background-color: rgba(151,195,161,1.00);
*/
	
}

a{
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}

a:hover{
	color: rgba(142,230,163,1.00);
	transition: 0.3s;
	border-bottom:rgba(157,232,175,1.00) solid 0.2vh; 
}

/*アニメーション*/
.main-comment1{
    position: relative;
    left: 0;
    transition: 2.5s;
	cursor:  pointer;

}
.main-comment1:focus{
    background-color: #2196F3;
    left: calc(80% - 100px);
}



/*ヘッダータイトル*/

.header{
/*	background-color: rgba(167,55,57,0.3);*/
/*	background-image: url("images/is.png");*/
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.8;
	width: 100%;
	height:80vh;
}

.header-top{
/*	background-color: rgba(16,55,57,0.3);*/
	width:100%;
	height: 14vh;
	text-align: center;
	display: flex;
	position: fixed;
}

.logo{
	flex: 1;
}

.logo-img{
	width:8vw;
/*	margin-left: 40px;*/
	position: relative;
	position: absolute;
	left: 10px;
}


.bar-logo{
	flex: 13;
}
.bar-logo>img{
	width:13%;
	position: absolute;
	top:17vh;
	left: -1vw;
}

/*トップタイトル、コメント*/
.top-containar{
/*	background-color: rgba(27,13,132,0.30);*/
	display: flex;
	width: 100%;
	height: 87vh;
	padding: 15vh 0 0 0;
	margin: 0;
}

.side-bar{
/*	background-color: rgba(12,46,8,0.80);*/
	flex: 1;
	text-align: left;
	line-height:15vh;
	font-size: 2.2vw;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
	position: absolute;
	top:20vh;
	left: -30px;
	position: fixed;
}

.side-bar>ul{
/*	background-color: aqua;*/
	list-style: none;
	font-weight: bold;
}


.main-bar{
/*	background-color: rgba(208,155,157,0.30);*/
	flex: 5;
	padding: 10px 0 0 0;
	height: 800px;
	color: rgba(12,12,12,1.00);
	font-size: 30px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
	text-shadow: 2px 2px 7px white;
}

.main-bar-container{
/*	background-color: brown;*/
	text-align: center;
}.main-bar-container>p{
/*	background-color: brown;*/
	padding-top: 90px;
}
.main-bar-container>p{
	font-size: 2.5vw;
	line-height: 0px;
}


.main-comment1{
	display: none;
	margin: 0;
	padding-top: 0px;
	text-align: center;
}
.main-comment2{
	padding-top: 150px;
	text-align: center;
	font-size: 6vw;
}

.main-comment2>img{
/*	background-color: blue;*/
	width: 50%;
	line-height: 0;
}

.main-comment21{
	padding-top: 8vw;
	text-align: center;
/*	font-size: 80px;*/
}

.main-comment21>img{
/*	background-color: blue;*/
	width: 50%;
	line-height: 0;
}
.main-comment3{
	padding-top: 20px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	display: none;
}

.reserve-top{
	padding-top:50px;
}

.reserve-top>p{
	text-align: center;
}

.about-golf{
	color: black;
	font-size: 3vw;
}

.return{
	background-color: rgba(137,164,130,0.50);
	border-radius: 5px;
	padding:10px;
	margin-left: -180px;
	position:fixed;
	font-size: 20px;
	font-weight: bold;
}


/*コラム各種*/
.main{
	display: flex;
	margin: 0 auto;
	width:70vw;
	height:100%;
	background-attachment: fixed;
/*	background-color: rgba(151,195,161,0.5);*/
}


.main-comment{


}


.Virtual-golf{
	/*	background-color: rgba(31,165,118,0.20);*/
	font-size: 2rem;
}

.Simulate-plan{
	padding: 10px 0;
	background-color: rgba(31,165,118,0.20);
	border-bottom:rgba(3,59,12,1.00) solid 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
}
.Food-menu{
	padding: 10px 0;
	background-color: rgba(31,165,118,0.20);
	border-bottom:rgba(3,59,12,1.00) solid 8px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

}
.Infomation{
	padding: 10px 0;
/*
	background-color: rgba(31,165,118,0.20);
	border-bottom:rgba(3,59,12,1.00) solid 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
*/

}
.Reserve{
	padding: 10px 0;
/*
	background-color: rgba(31,165,118,0.20);
	border-bottom:rgba(3,59,12,1.00) solid 8px;
	border-radius: 20px;
*/

}
.Access{
	padding: 10px 0;
/*
	background-color: rgba(31,165,118,0.20);
	border-bottom:rgba(3,59,12,1.00) solid 8px;
	border-radius: 20px;
*/

}

/*バーチャルゴルフとは？*/

.main-head1{
/*	background-color: aquamarine;*/
	text-align: center;
	
}

.main-head1-title{
	padding-bottom: 50px;
}


@media(min-width:300px){
	.whats-img{

	}
	.whats-img>img{
		margin: 0 auto;
		padding: 20px;
		border-radius: 60px;
	}
	
	.main-head1-comment>img{
	padding: 20px;
	border-radius: 60px;
}
}

@media(min-width:1100px){
	.whats-img{
		display: flex;
	}
/*
	.whats-img>img{
		margin: 0 auto;
		padding: 20vh;
		border-radius: 60px;
	}
*/
	
	.main-head1-comment>img{
	padding: 20px;
	border-radius: 60px;
}
}

.main-head1-comment{
/*	background-color:antiquewhite;*/
	padding: 19vh 0 10vh 0;
}



.main-head1-comment>p{
/*	background-color:rgba(46,133,22,0.30);*/
	margin: 0;
	padding: 40px 0 0 30px;
	font-size: 25px;
	color: rgba(0,0,0,1.00);
	line-height: 30px;
}

/*プラン*/
.plan-table{
/*	background-color:rgba(46,133,22,0.30);*/
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 40vw;
	max-height: 500px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
	font-size: 1.5vw;
}


.plan-table>p{
	font-size: 250%;
	font-weight: bold;
	padding-bottom: 0;
	margin: 0 auto;
}

.weekly>p{
	color: rgba(6,94,7,1.00);
	text-shadow: 3px 3px 10px white;
/*	padding-top: 60px;*/
}

.weekend>p{
	color: rgba(110,158,0,1.00);
	text-shadow: 3px 3px 10px white;
}



table{
	padding: 0px;
	margin: 0 auto;
}

.weekly-color{
	background-color: rgba(127,170,139,0.40);
}
.weekend-color{
	background-color: rgba(160,197,123,0.40);
}

td,th{
	padding: 5px 20px 5px 20px;
}
th{
	background-color: rgba(90,165,17,0.30)
}


.main-head2 {
	padding: 170px 0 100px 0;
}
.main-head2-comment{
/*	background-color:antiquewhite;*/
/*	display: flex;*/
	width:100%;
	margin: 0 auto;
	padding: 40px 0 100px 0;
}

.open-close{
	display: flex;
	margin: 0;
	padding: 0;
}
.a{
	width: 100px;
	text-align: center;
	height: 10px;
}
.b{
	width: 300px;
	height: 30px;

}

.c{
	width: 100px;
	text-align: center;
	height: 50px;
	padding-top: 30px;
}
.d{
	padding-top: 30px;
}



@media(min-width:300px){
		.rental{
	/*	background-color: rgba(105,180,115,0.440);*/
		text-align: center;
		width: 100%;
		color: rgba(6,94,7,1.00);
		margin:  0 auto;
	}

	.rental-box{
		width: 90%;
		margin: 0 auto;
	}

	.rental-containar1, .rental-containar2{
		padding: 0px;
	}

	.rental-title{
		font-size: 3.8vw;
		text-shadow: 3px 3px 10px white;
	}

	.rental-items{
		padding-top: 30px;
	}

	.rental-items>dh{
		font-size: 1.5rem;
	}

	.rental-about{
	/*	background-color: rgba(161,226,171,0.30);*/
		display: flex;
		border-bottom: rgba(6,94,7,0.50) solid 2px;
		width:100%;
		margin: 0 auto;
		padding: 0 10px;
		text-align: center;
		font-weight: bold;
	}
	.rental-about>p{
		width: 100%;
		padding: 15px 0px 0px 0;
		margin: 0 auto;
		font-size: 1rem;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
		font-weight: bold;
	}

}

@media(min-width:1100px){
		.rental{
	/*	background-color: rgba(105,180,115,0.440);*/
		text-align: center;
		width: 100%;
		color: rgba(6,94,7,1.00);
		margin:  0 auto;
	}

	.rental-box{
	/*	background-color: brown;*/
		display: flex;
		width: 100%;
		margin: 0 auto;
	}

	.rental-containar1, .rental-containar2{
	/*	background-color: bisque;*/
		padding: 0px;
		margin:  0 auto;
		flex: 1;
	}

	.rental-title{
		font-size: 4rem;
		text-shadow: 3px 3px 10px white;
	}

	.rental-items{
		padding-top: 30px;
	}

	.rental-items>dh{
		font-size: 1.5rem;
	}

	.rental-about{
/*		background-color: rgba(161,226,171,0.30);*/
		display: flex;
		border-bottom: rgba(6,94,7,0.50) solid 2px;
		width:30vw;
		margin: 0 auto;
		padding: 0 10px;
		text-align: center;
		font-weight: bold;
	}
	.rental-about>p{
/*		background-color: aqua;*/
		width: 30vw;
		padding: 15px 0px 0px 0;
		margin: 0 auto;
		font-size: 1.1rem;
		font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
		font-weight: bold;
	}

}


/*フードメニュー*/

.main-head3{
	padding: 50px 0 100px 0;
}



.food-containar{
/*	background-color: rgba(33,160,160,0.40);*/
	text-align: center;
	width: 380px;
	padding: 50px 0 0 0;
	margin:  0 auto;
}

.food-containar>h2{
	margin: 0;
	padding:  0 0 10px 0;
}

.drink-about{
/*	background-color: rgba(33,91,42,1.00);*/
	display: flex;
	border-bottom: rgba(0,0,0,1.00) solid 2px;
	width:350px;
	margin: 0;
}


.drink-about>p{
/*	background-color: aquamarine;*/
	flex: 1;
	width: 350px;
	padding: 5px 30px;
	margin: 0;
}

dh{
	font-size: 20px;	
}

@media(min-width:500px){

	.main-head3-comment{
	/*	background-color: rgba(0,55,206,1.00);*/
		margin:  0 auto;
		padding-top: 190px;
		width: 100%;
	}
	
	.Access{
		font-size: 3.5vw;
	}
	
}
@media(min-width:1100px){
	.main-head3-comment{
	/*	background-color: rgba(0,55,206,1.00);*/
		margin:  0 auto;
		padding-top: 190px;
		display: flex;
		width: 100%;
	}
	
	.food-name{
	/*	background-color: rgba(33,160,160,0.40);*/
		flex: 3;
	}

	.price{
	/*	background-color: rgba(33,16,160,0.40);*/
		flex: 1;
	}
}


/*インフォメーション*/

.main-head4{
/*	background-color: aquamarine;*/
	padding: 180px 0 0 0;
	width: 50vw;;
	margin: 0 auto;
	text-align: center;
}

.main-head4-comment{
/*	background-color: rgba(39,112,3,0.10);*/
	border-radius: 10%;
	width:60vw;
	height: 90vh;
	overflow-y: scroll;
	scrollbar-color: green;
	margin: 0 auto;
}
.news {
	margin: 0 auto;
	padding: 0 0 30px 0;
	text-align: center;
	font-size: 30px;
}
.news-topicks {
/*	background-color: rgba(63,97,166,1.00);*/
	margin: 0 auto;
	padding: 210px 0 0 0;
	width: 100%;
	height: 150px;
	text-align: center;
}

.news-feed{
	font-size: 30px;
}

.topicks-containar {
/*	background-color: rgba(63,97,16,1.00);*/
	width: 270px;
	height: 150px;
	margin: 0px auto;
	text-align: left;
	overflow-y: auto;
}

.blog-containar{
	text-align: center;
	padding: 20px 0;
	width: 55vw;
	margin:  0 auto;
}

.blog-containar>p,h2{
	line-height: 20px;
}

.blog-comment{
	display: flex;
	width: 50vw;
}

.blog-comment>img{
/*	background-color: aquamarine;*/
	border-radius: 10px;
	width:40%;
	flex: 1;
	margin-left: 0px;
}
.blog-comment>p{
	flex:1;
	text-align: left;
	padding-left: 10px;
}


/*アクセス・予約*/
.main-head5 {
	width: 50vw;
	margin:  0 auto;
	padding-top:　200px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
}

.main-head6 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, "serif";
	padding-top: 190px;
	width: 50vw;
	margin: 0 auto;
}

form{
	margin: 0 auto;
	font-size: 20px;
}
.reserve{
	width: 200px;
	background-color: rgba(125,162,92,0.20);
	margin: 10px auto 30px auto;
}
.main-head4>h2 {
	width: 850px;
	margin: 0 auto;
}



.main-head6-title {
	width: 70vw;
	margin:  0 auto;
	line-height: 20px;
	padding-bottom: 120px;
}
.main-head6-title>p {
		font-size: 2vw;
}
